.fixtures {
  display: flex;
  flex-direction: column;
  background-color: $fixturesBgColor;
  &__banner {
    display: flex;
    height: 40px;
    padding: 0 10px;
    box-sizing: border-box;
    background-color: $fixturesHeaderBgColor;
    &__data {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      font-size: $mediumFontSize;
      color: $fixturesHeaderColor;
    }
    &__toggle {
      display: flex;
      align-items: center;
      cursor: pointer;
      font-size: $smallFontSize;
    }
  }
  &--loading {
    .fixtures__banner {
      &__toggle {
        display: none;
      }
    }
    .selectedFixture {
      &:hover {
        background-color: $fixturesBgColor;
        cursor: unset;
      }
      &__time,
      &__score,
      &__team {
        div {
          width: 50%;
          height: 100%;
          margin: auto;
          @include loadingAnimation($eeror-black, $fixturesHeaderBgColor);
        }
      }
      &__team {
       
        &:last-child div {
          margin-left: 0;
        }
        div {
          margin-right: 0;
        }
      }
    }
  }
}
