.selectedFixture {
  display: flex;
  font-size: $mediumFontSize;
  box-sizing: border-box;
  padding: 5px 70px 5px 0;
  cursor: pointer;
  height: 25px;
  &:not(:last-child) {
    border-bottom: 1px solid $fixturesHeaderBgColor;
  }
  &:hover {
    background-color: $fixturesHeaderHoverBgColor;
  }
  &__time {
    width: 70px;
    min-width: 70px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
  }
  &__team {
    width: 100%;
    text-align: right;
    &:last-child {
      text-align: left;
    }
  }
  &__score {
    width: 50px;
    min-width: 50px;
    text-align: center;
  }
}
@media only screen and (max-width: $mobileBreakPoint) {
  .selectedFixture {
    height: 50px;
    flex-flow: column wrap;
    padding: 5px;
    &__score,
    &__time,
    &__team {
      display: flex;
      align-items: center;
    }
    &__score,
    &__time {
     
      justify-content: center;
    }
    &__team {
      order: 1;
      height: 19px;
      width: 65%;
      text-align: start;
    }
    &__time {
      order: 2;
      height: 100%;
      min-width: 40px;
      width: 40px;
    }
    &__score {
      order: 3;
      height: 100%;
      min-width: 25px;
      width: 25px;
    }
  }
}
