.footer {
  display: flex;
  padding: $footerPadding;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: $footerBgColor;
  color: $footerTextColor;
  min-height: $footerMinHeight;
  font-size: $mediumFontSize;
  box-sizing: border-box;
  &__container {
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: unset;
    box-sizing: border-box;
    .header__cta--link {
      &:not(:last-child) {
        padding-right: 9px;
      }
      a {
        text-decoration: unset;
        color: $footerTextColor;
        cursor: pointer;
      }
    }
    .social-svg-icon {
      fill: $footerIconColor !important;
    }
  }
}
