.header {
  background: $headerBgColor;
  padding: $headerPadding;
  box-shadow: $headerBoxShadow;
  height: $headerHeight;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  position: sticky;
  display: flex;
  &__logo {
    height: 20px;
    width: 50%;
    img {
      height: 20px;
    }
  }

  &__content,
  &__menu {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    li {
      padding: 0 9px;
      box-sizing: border-box;
      list-style-type: none;
      a {
        text-decoration: none;
        color: $headerTextColor;
      }
    }
  }

  &__menu-btn {
    display: none;
  }

  &__menu {
    max-height: 0;
    transition: max-height 0.3s ease-in;
  }

  @media (max-width: 48em) {
    flex-direction: column;
    align-items: flex-start;

    &__menu-btn {
      &:checked ~ .header__menu {
        max-height: 240px;
      }
    }

    &__content {
      position: absolute;
      top: 65px;
      left: 0;
    }
    &__menu {
      background: $headerBgColor;
      margin: 0;
      padding: 0;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      li {
        padding: 9px 5%;
        width: 100%;
        box-sizing: border-box;
        &:hover {
          opacity: 0.5;
        }
      }
    }

    &__menu-icon {
      cursor: pointer;
      display: inline-block;
      padding: 28px 20px;
      position: relative;
      user-select: none;
      position: absolute;
      top: -32.5px;
      display: block;
      margin: 0;
      right: 5%;
      padding: 0;
      &__navicon {
        background: $headerTextColor;
        display: block;
        height: 2px;
        position: relative;
        transition: background 0.2s ease-out;
        width: 18px;

        &:before,
        &:after {
          background: $headerTextColor;
          content: "";
          display: block;
          height: 100%;
          position: absolute;
          transition: all 0.2s ease-out;
          width: 100%;
        }
        &:after {
          top: -5px;
        }
        &:before {
          top: 5px;
        }
      }
    }
    &__menu-btn:checked ~ .header__menu-icon {
      .header__menu-icon__navicon {
        background: transparent;
        &:after {
          transform: rotate(-45deg);
          top: 0;
        }
        &:before {
          transform: rotate(45deg);
          top: 0;
        }
      }
    }
  }
}
