.navbar {
  display: flex;
  height: 40px;
  width: 100%;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  color: $navbarColor;
  &__child {
    &:not(:last-child) {
      padding-right: 15px;
    }
    &:hover {
      opacity: .75;
    }
    &--active {
      color: $navbarActiveColor;
    }
  }
}