.subHeader {
  height: 40px;
  width: 100%;
  background-color: $subHeaderBgColor;
  @extend %flex-center;
  padding: $contentPadding;
  box-sizing: border-box;
  overflow-x: auto;
  &__link {
    color: $subHeaderColor;
    text-decoration: unset;
    font-size: $mediumFontSize;
    &--active {
      color: $subHeaderActiveColor;
    }
    &:not(:last-child) {
      padding-right: 22px;
    }
  }
}
