.dateTime {
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  padding: 0 10px;
  box-sizing: border-box;
  background-color: $jet-black;
  border-bottom: 1px solid $rich-black;
  overflow-x: auto;
  &__item {
    width: 40px;
    width: 100%;
    white-space: nowrap;
    text-align: center;
    font-size: $mediumFontSize;
    cursor: pointer;
    &:not(:last-child) {
      margin-right: 10px;
    }
    &--selected {
      color: $gold-web-golden;
    }
  }
}
