$rich-black: #0D0D0D;
$eeror-black: #1F1F1F;
$jet-black: #303030;
$eerie-black: #171717;
$gold-web-golden: #FFDC3E;
$gainsboro: #D9D9D9;

$mobileBreakPoint: 768px;

$smallFontSize: 11px;
$mediumFontSize: 13px;
$largeFontSize: 15px;

// General
$backgroundColor: $rich-black;
$contentPadding: 0 5%;

// Header
$headerBgColor: $eeror-black;
$headerHeight: 65px;
$headerPadding: 20px 5%;
$headerBoxShadow: 0 1px 15px -5px $eeror-black;
$headerTextColor: $gainsboro;

// Sub Header
$subHeaderBgColor: $jet-black;
$subHeaderColor: $gainsboro;
$subHeaderActiveColor: $gold-web-golden;

// Footer
$footerBgColor: $eeror-black;
$footerTextColor: $gainsboro;
$footerPadding: $headerPadding;
$footerMinHeight: $headerHeight;
$footerIconColor: $gainsboro;

// Navbar 
$navbarActiveColor: $gold-web-golden;
$navbarColor: $gainsboro;

// Fixtures
$fixturesHeaderBgColor: $jet-black;
$fixturesHeaderColor: $gold-web-golden;
$fixturesBgColor: $eerie-black;
$fixturesHeaderHoverBgColor: $eeror-black;
