@import "./_constants.scss";
@import "./_mixins.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html,
body {
  font-family: "Roboto", sans-serif;
  background-color: $backgroundColor;
  color: $gainsboro;
  height: 100%;
  margin: 0;
  padding: 0;
  #__next {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 100%;
    .content-container {
      max-width: $mobileBreakPoint;
      width: 100%;
      margin: auto;
      box-sizing: border-box;
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
    }
  }
}

// Layout
@import "../components/layout/_header.scss";
@import "../components/layout/_footer.scss";
@import "../components/layout/_navbar.scss";
@import "../components/layout/_subHeader.scss";
@import "../components/layout/_fallback.scss";

// Components
@import "../components/fixtures/_index.scss";
@import "../components/fixtures/_selectedFixture.scss";
@import "../components/dateTimePicker/_index.scss";
