%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin loadingAnimation($primaryColor, $secondaryColor) {
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: $secondaryColor;
  background: linear-gradient(
    to right,
    $secondaryColor 8%,
    $primaryColor 38%,
    $secondaryColor 54%
  );
  background-size: 1000px 1280px;
  position: relative;
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
